/SistemaDeTurnos/nbproject/private/
/SistemaDeTurnos/build/
/SistemaDeTurnos/dist/
.scannerwork
SistemaDeTurnos/src/recursos/DatosPacientes
SistemaDeTurnos/nbproject/project.properties
SistemaDeTurnos/nbproject/project.properties
