/*
 * Empty Stylesheet file.
 */

.content {
    -fx-background-color: rgb(168, 218, 252);
}

.button {

        -fx-background-color: rgb(186, 252, 149);
}

.button-clear {

        -fx-background-color: rgb(238, 237, 237);
}